$primary: #576ddc;
$secondary: #FA5959;

.shadow-overlay {
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translateX(-10%);
    height:70%; 
    width: 95%; 
    background-color:#576ddc; 
    z-index: -1; 
    border-top-left-radius: 100px; 
    border-bottom-left-radius: 100px; 
}

.shadow-overlay-reverse {
position: absolute;
top: 50%;
right: 40%; 
transform: translateX(10%);
height: 60%;
width: 95%;
background-color: #576ddc;
z-index: -1;
border-top-right-radius: 100px; 
border-bottom-right-radius: 100px; 
}

.custom-tabs {
    margin-top: 50px;
    margin-bottom: 50px;
}


.nav-link { 
    font-weight: bold; 
    color: #6c757d; 
    border-bottom: 5px solid ; 
    margin: 0 20px; 
    &:hover {
    color: red; 
    border: none;
   
}
      }
  
    .active {
    border-color: transparent !important; 
    position: relative; 
      }
    
   
    .nav-link.active::after {
      content: ''; 
      position: absolute;
      left: 0; 
      bottom: -2px; 
      width: 100%; 
      height: 4px; 
      background-color: red; 
    }

    .navbar-toggler {
        color: rgb(252, 250, 250);
        border-color: transparent;
     
}

  .accordion {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

.nav-link {
    text-decoration: none;
  }
  .btn-light.shadow-sm {
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}



html,
body {
  overflow-x: hidden;
}



$breakpoints: (
    "xs": "max-width: 575.98" ,
    "sm": 480px,
    "md": 720px,
    "lg": 960px,
    "xl": 1200px,
);

.mt-custom {
    margin-top: 50px;
}

.mt-cust {
    margin-top: 100px;
}

.navbar-toggler:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

@media (max-width: 575.98px) { 
    .custom-card {
        width: 300px;
        justify-items: center;
        margin: auto;
    }
    .p {
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .custom-card {
        width: fit-content;
        justify-items: center;
        margin: auto;
    }
    .nav-item {
        justify-content: center;
        margin: auto;
      }
    .nav-button {
        justify-content: center;
        margin: auto;
        margin-top: 10px;
     }

     .list-unstyled {
        display: flex;
        flex-direction: column; 
         margin-bottom: 10px;
     }

     .col-footer {
        display: flex;
        flex-direction: column; 
        margin: auto;
        margin-bottom: 10px;
        justify-content: center;
        justify-items: center;

     }
     .log {
        margin-left: 60px;
        justify-content: center;
     }
    
        }
    
    //Margins between the sections
   


   

@media (max-width: 991.98px) { 

    .card {
        width: auto;
        margin: auto;
    }
    .p {
        margin-inline-start: 0;
        margin-inline-end: 0;
    }
}



@import "./node_modules/bootstrap/scss/bootstrap.scss";

.nav-link:hover,
.accordion-button:hover {
	color: $secondary !important;
}



$body-bg: #ffffff;


.btn-primary:hover {
	color: $primary;
	background-color: $body-bg;
	border-color: $primary;
}

.btn-secondary:hover {
	color: $secondary !important;
	background-color: $body-bg;
	border-color: $secondary;
}

.btn-light:hover {
	color: $dark;
	background-color: $body-bg;
	border-color: $dark;
}


.social-icon:hover {
	filter: invert(56%) sepia(47%) saturate(3472%) hue-rotate(325deg)
		brightness(100%) contrast(97%);
}